body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: mediumaquamarine;
    color: black;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav a {
    color: #fff;
    text-decoration: gold;
}

main {
    display: flex;
    padding: 2em;
    background-color: blanchedalmond;
}

.blog-posts {
    flex: 3;
    margin-right: 2px}
