@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e6fefa;
}

.wrapper {
  position: relative;
  width: 750px;
  height: 450px;
  background: transparent;
  border: 2px solid #c6e4ee;
  box-shadow: 0 0 25px #c6e4ee;
  overflow: hidden;
}

.wrapper .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.wrapper .form-box.signup {
  right: 0;
  padding: 0 40px 0 60px;
  pointer-events: none;
}

.wrapper.active .form-box.signup {
pointer-events: auto;
}

.wrapper .form-box.signup .animation {
  transform: translate(120%);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .form-box.signup .animation {
  transform: translate(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.form-box h2 {
  font-size: 32px;
  color: black;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  padding-right: 23px;
  font-size: 16px;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

.input-box input:focus,
.input-box input:valid {
  border-bottom-color: black;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: black;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: black;
  transition: 0.5s;
}

.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: black;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid black;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: black;
  font-weight: 600;
  z-index: 1;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#b5dce9, #c6e4ee, #b5dce9, #c6e4ee);
  z-index: -1;
  transition: 0.5s;
}

.btn:hover:before {
  top: 0;
}

.form-box .logreg-link {
  font-size: 14.5px;
  color: black;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.wrapper .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.wrapper .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: .7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.wrapper .info-text.signup {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 40px;
  pointer-events: none;
}

.wrapper.active .info-text.signup {
  pointer-events: auto;
}

.wrapper .info-text.signup .animation {
  transform: translate(-120%);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .info-text.signup .animation {
  transform: translate(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.info-text h2 {
  font-size: 36px;
  color: black;
  line-height: 1.3;
  text-transform: uppercase;
}

.info-text p {
  font-size: 16px;
  color: black;
}

.wrapper .bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: linear-gradient(45deg, #c6e4ee, #b5dce9);
  border-bottom: 3px solid #c6e4ee;
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.2s;
}

.wrapper.active .bg-animate {
  transform: rotate(0) skewY(0);
  transition-delay: 0.5s;
}

.wrapper .bg-animate2 {
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: #c6e4ee;
  border-bottom: 3px solid #b5dce9;
  transform: rotate(0deg) skewY(0deg);
  transform-origin: bottom left;
  transition: 1.5 ease;
  transition-delay: .5s;
}

.wrapper.active .bg-animate2 {
  transform: rotate(-11deg) skewY(-40deg);
  transition-delay: 1.2s;
}
